@media screen and (max-width: 576px) {

    /* GLOBAL STYLE */

    :root {
        --maintitle: 2rem;
        --secondtitle: 1.5rem;
        --thirdtitle: 1.125rem;
        --bodytext: .9rem;
        --margintop: 4rem;
        --maxwidth: 100vmin;
    }

    /* HEADER SECTION RESPONSIVE */

    body {
        max-width: 100vmin;
    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        gap: 20px;
    }

    .nav-menu {
        gap: 10px;
    }

    .hero-section {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .hero-left {
        order: 2;
        width: 100vmin;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

    .hero-right {
        order: 1;
        width: 100vmin;
    }

    .hero-right img {
        width: 70%;
    }

    /* COMPANY SECTION RESPONSIVE */

    .companies {
        padding: 30px 20px;
        grid-template: auto / repeat(8, 1fr);
        grid-template-areas:
            "c1 c1 c2 c2 c3 c3 c4 c4"
            ". c5 c5 c6 c6 c7 c7 .";
            grid-row-gap: 30px;
    }

    .companies img {
        width: 60%;
    }

    /* */

}