@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* GLOBAL STYLE STARTS HERE */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}