@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* GLOBAL STYLE STARTS HERE */

:root {
    --primary: #3A3A3A;
    --secondary: #E02C6D;
    --accent: #0A0826;
    --white: #fff;
    --maintitle: 3.15rem;
    --secondtitle: 2.35rem;
    --thirdtitle: 1.5rem;
    --fourthtitle: 1.2rem;
    --bodytext: 1rem;
    --margintop: 6rem;
    --maxwidth: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    ::selection {
        background-color: var(--secondary);
        color: var(--white);
    }
}

body {
    margin: 0 auto;
}

.main-title {
    color: var(--primary);
    font-size: var(--maintitle);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.second-title {
    color: var(--accent);
    font-size: var(--secondtitle);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.third-title {
    color: var(--primary);
    font-size: var(--thirdtitle);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fourth-title {
    color: var(--secondary);
    font-size: var(--fourthtitle);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-text {
    color: var(--primary);
    font-size: var(--bodytext);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-primary {
    font-size: var(--bodytext);
    font-weight: 700;
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 2.5rem;
    border: 0;
}


/* GLOBAL STYLE ENDS HERE */


 /* HEADER SECTION STARTS HERE */

header {
    max-width: var(--maxwidth);
    margin: 0 auto;
}

.nav-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
    cursor: pointer;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-left .btn-primary i {
    padding-left: .625rem;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(.././images/Circle\ design.svg) center center no-repeat;
    background-size: contain;
}

/* HEADER SECTION ENDS HERE */


/* COMPANY SECTION STARTS HERE */

.companies {
    margin: var(--margintop) auto 0 auto;
    max-width: var(--maxwidth);
    padding: 30px 0;
    border-top: 1px solid rgba(211, 211, 211, 0.575);
    border-bottom: 1px solid rgba(211, 211, 211, 0.575);
    display: grid;
    grid-template: auto / repeat(7, 1fr);
    grid-template-areas: 
    "c1 c2 c3 c4 c5 c6 c7";
    justify-items: center;
    align-items: center;
}

#company1 {
    grid-area: c1;
}
#company2 {
    grid-area: c2;
}
#company3 {
    grid-area: c3;
}
#company4 {
    grid-area: c4;
}
#company5 {
    grid-area: c5;
}
#company6 {
    grid-area: c6;
}
#company7 {
    grid-area: c7;
}

/* COMPANY SECTION STARTS HERE */

.popular-collection {
    margin: var(--margintop) auto 0 auto;
    max-width: 1120px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.product-archive {
    margin: 30px auto 0 auto;
    display: grid;
    grid-template: auto / repeat(12, 1fr);
    grid-template-areas: 
    "c1 c1 c1 c2 c2 c2 c3 c3 c3"
    "c4 c4 c4 c5 c5 c5 c6 c6 c6"
    "c7 c7 c7 c8 c8 c8 c9 c9 c9";
    grid-gap: 30px;
}

#card1 {
    grid-area: c1;
}
#card2 {
    grid-area: c2;
}
#card3 {
    grid-area: c3;
}
#card4 {
    grid-area: c4;
}
#card5 {
    grid-area: c5;
}
#card6 {
    grid-area: c6;
}
#card7 {
    grid-area: c7;
}
#card8 {
    grid-area: c8;
}
#card9 {
    grid-area: c9;
}

.rating * {
    display: inline;
}

.product-card {
    margin: 0 auto;
    width: 340px;
    height: auto;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 0 30px lightgray;
    transition: all .5s;
}

.product-card:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 0 20px #e02c6e50;
}